Repository effervescentia/iolaus: changes, and which lint-staged commands are due for each by the changed paths.
All: fixpack, prettier --write

style: format code
  packages/core/src/context-sink.ts
  packages/core/src/utils.ts
Due: prettier --write

chore(release): release packages [skip ci]
  CHANGELOG.md
  packages/bin/package.json
  packages/core/package.json
Due: fixpack

chore(lint): better lint-staged config
  .lintstagedrc
Due: none

feat(cli): add arguments to cli
  CHANGELOG.md
  README.md
  packages/bin/README.md
  packages/bin/index.js
  packages/common/README.md
  packages/core/README.md
  packages/core/src/changelog.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: prettier --write

chore(release): release packages [skip ci]
  CHANGELOG.md
  packages/bin/package.json
  packages/common/package.json
  packages/core/package.json
Due: fixpack

chore(pkg): fix dependency version
  packages/core/package.json
Due: fixpack

fix(pkg update): update dependencies to the correct version on force release
  packages/core/src/index.ts
Due: prettier --write

chore(pkg): remove prepare step from npm lifecycle
  .github/workflows/main.yml
  package.json
  yarn.lock
Due: fixpack

chore(readme): include semantic-release and lerna during install
  README.md
Due: none

fix(pkg): include all package.json files when creating release commit
  packages/core/src/index.ts
Due: prettier --write

fix(deps): add missing dependency for @semantic-release/npm
  packages/core/package.json
  yarn.lock
Due: fixpack

chore(readme): add commitizen badge
  README.md
Due: none

chore(build): add back prepare lifecycle hook
  .github/workflows/main.yml
  package.json
  packages/core/package.json
Due: fixpack

fix(release): skip git and github verify on dry run
  packages/core/src/index.ts
Due: prettier --write

chore(pkg): fix version numbers
  packages/bin/package.json
  packages/core/package.json
Due: fixpack

fix(publish): skip publish on dry run
  packages/core/src/index.ts
Due: prettier --write

chore(security): fix security vulnerability
  package.json
Due: fixpack

chore(security): update yarn.lock file
  yarn.lock
Due: none

feat(release): do not publish or release private packages
  packages/core/src/index.ts
  packages/core/typings/lerna__project.d.ts
Due: prettier --write

fix: use repository options when pushing tags
  packages/bin/index.js
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: prettier --write

fix: pull extra value out of semantic config
  packages/core/src/index.ts
Due: prettier --write

fix(changelog): fix changelog formatting and date generation
  CHANGELOG.md
  packages/core/src/changelog.ts
  packages/core/src/index.ts
Due: prettier --write

wip: initial
  packages/core/src/index.ts
  packages/core/src/package.ts
  packages/core/src/release.ts
  packages/core/src/tags.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
Due: prettier --write

feat: add initial release option
  packages/bin/index.js
  packages/core/src/changelog.ts
  packages/core/src/constants.ts
  packages/core/src/context-sink.ts
  packages/core/src/index.ts
  packages/core/src/release.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
Due: prettier --write

wip: re-enable git release setup
  packages/core/src/index.ts
Due: prettier --write

feat: add option for forcing initial release (#12)
  packages/bin/index.js
  packages/core/src/changelog.ts
  packages/core/src/constants.ts
  packages/core/src/context-sink.ts
  packages/core/src/index.ts
  packages/core/src/package.ts
  packages/core/src/release.ts
  packages/core/src/tags.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
Due: prettier --write

docs(readme): add entry for --initial config option
  README.md
Due: none

docs(readme): simplify CLI arguments
  README.md
Due: none

fix: allow using config to provide options
  packages/core/src/utils.ts
Due: prettier --write

fix: allow using config file to provide options (#13)
  packages/core/src/utils.ts
Due: prettier --write

Path conditions:
  fixpack: any of: **/package.json
  prettier --write: any of: packages/**/*.ts
