Repository effervescentia/iolaus: changes, and which lint-staged commands are due for each by the changed paths.
All: fixpack, prettier --write

.lintstagedrc:

{
  "**/package.json": ["fixpack", "git add"],
  "*.ts": ["prettier --write", "git add"]
}

chore(release): release packages [skip ci]
  CHANGELOG.md
  packages/bin/package.json
  packages/core/package.json
Due: fixpack

docs(readme): add github actions badge
  README.md
Due: none

wip: initial
  packages/bin/index.js
  packages/core/src/analyze.ts
  packages/core/src/index.ts
Due: prettier --write

feat: add breaking changes to changelog
  packages/core/src/changelog.ts
  packages/core/src/utils.ts
Due: prettier --write

feat: add breaking changes to changelog (#14)
  packages/core/src/changelog.ts
  packages/core/src/utils.ts
Due: prettier --write

docs(readme): update npm badge link
  README.md
Due: none

docs(changelog): fix changelog entry for v1.6.0
  CHANGELOG.md
Due: none

feat(private packages): do not add dependency update, release or tags to changelog for private packa
  packages/core/src/changelog.ts
  packages/core/src/index.ts
Due: prettier --write

style: fix linting
  packages/core/src/changelog.ts
Due: prettier --write

feat(private pkgs): do not add dependency update, release or tags (#15)
  packages/core/src/changelog.ts
  packages/core/src/index.ts
Due: prettier --write
